* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

h4,
h2,
h1,
p {
  margin: 0px;
}

#inner-bg {
  margin: 20px;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  border-radius: 14px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #282828;
  padding: 20px;
}

.right-side {
  flex-grow: 1;
  background-color: black;
  overflow-y: scroll;
}

.search-box {
  flex: 1;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  /* margin-bottom: 20px; */
}

#attachmentIcon {
  color: #ece4d4;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.search-box button {
  border: none;
  outline: none;
  background-color: #ece4d4;
  color: black;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 10px; /* Add margin for spacing */
  cursor: pointer;
}
.navigation-bar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #282828;
  color: #ece4d4;
  padding: 12px 0px;
  z-index: 1;
  overflow: hidden;
}

.navigation-bar a {
  text-decoration: none;
}

.navigation-bar img {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease-in-out;
}

.navigation-bar img:hover {
  transform: scale(1.2);
}

.navigation-bar img[alt] {
  color: #ece4d4;
  cursor: pointer;
  transition: color 0.2s, background-color 0.3s;
  font-weight: bold;
}

.navigation-bar img[alt]:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* tooltip-decoration and position  */
.tooltip {
  position: relative;
  display: flex;
  margin: 0 8px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  bottom: -20px; /* Position the tooltip below the icon */
  left: 50%; /* Center the tooltip horizontally */
  transform: translateX(-50%);
  z-index: 1;
  font-size: 14px;
  opacity: 0; /* Make the tooltip initially hidden */
  transition: opacity 0.3s, transform 0.3s;
}

/* Tooltip text visible on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 8px;
    position: absolute;
    font-size: 12px;
    bottom: -20px; /* Position the tooltip below the icon/button */
    left: 50%; /* Center the tooltip horizontally */
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0; /* Make the tooltip initially hidden */
    transition: opacity 0.3s, transform 0.3s;
  }
}
@media only screen and (max-width: 576px) {
  .tooltip .tooltiptext {
    width: 66px; /* Further adjust tooltip width for even smaller screens */
    padding: 6px 0px;
    left: 50%; /* Center the tooltip horizontally */
  }
}
#content-home {
  display: none;
}

#content-posts {
  display: none;
}

#content-thread {
  display: none;
}

#content-notifications {
  display: none;
}

#content-profile {
  display: none;
}

#headings {
  text-align: center;
  color: #ece4d4;
  font-weight: bold;
}

.box {
  display: flex;
  border: 2px solid black;
  margin-top: 12px;
  height: 42px;
  background-color: #efe2d2;
  color: black;
  cursor: pointer;
  border-radius: 40px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  width: 90%;
  max-width: 300px;
}

#box-text-l {
  padding-left: 14px;
  text-align: left;
  flex-grow: 1;
}

#box-text-r {
  padding-right: 14px;
  font-weight: bold;
  text-align: right;
  flex-shrink: 0;
}

:root {
  --footer-inline-spacing: 50px;
  /* Default spacing between inline elements */
}

.footer-container {
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.footer-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logout-btn {
  font-size: 16px;
  background-color: #f62500;
  display: flex;
  transition: background-color 0.3s;
  border: 2px solid black;
  padding: 10px 28px;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
}

.post-button:hover,
.logout-btn:hover {
  color: black;
}

.right-inner-bg {
  background-color: 11eE1E;
  color: white;
  padding: 20px;
  border-radius: 14px;
  gap: 16px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

/*post page right side*/

.post_h {
  padding-top: 10px;
  font-weight: bolder;
}
.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.dropbtn {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  position: relative;
  width: 180px;
  box-sizing: border-box;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* top: 100%; */
  background-color: #282828;
  min-width: 180px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: fadeIn 0.5s ease-in-out;
  padding: 4px 0;
}

.dropdown-content a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  transition: background-color 0.3s;
  border-radius: 4px;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: black;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}

.dropdown:hover .dropbtn .arrow-icon {
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .dropbtn {
    font-size: 10px;
    padding: 6px 12px;
    width: auto;
  }

  .dropdown-content {
    top: calc(100% + 4px);
    min-width: 160px;
    /* Adjusted for smaller screens */
  }
}

.draft {
  padding-right: 40px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#inner-bg2 {
  padding: 25px;
  display: flex;
  background-color: #282828;
  border-radius: 12px;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  color: white;
}

#inner-bg2 textarea {
  margin-bottom: 20px;
  width: 100%;
  background-color: #282828;
  font-size: 20px;
  border: none;
  color: white;
}

#inner-bg2 textarea::placeholder {
  color: white;
  font-weight: bold;
}

.line2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-button {
  margin-top: 10px;
  font-size: 16px;
  background-color: #f62500;
  display: flex;
  transition: background-color 0.3s;
  border: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  font-weight: bold;
  color: #ffffff;
}

h1 {
  color: #ece4d4;
  padding: 5px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}

/* notification page  */
.noti_head {
  padding: 0px 10px px 16px;
  font-weight: bolder;
}

#inner-bg_prof {
  margin: 20px;
  padding: 25px;
  display: flex;
  background-color: #282828;
  border-radius: 12px;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  color: white;
}

/* profile page */
.profile_head {
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 0px;
  font-weight: bolder;
}

/* edit-page */
.con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  height: 80vh; /* Make container take up the full viewport height */
}

.edit_h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  padding-top: 0px;
  padding-bottom: 20px;
}
#inner-bg3 {
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #282828;
  border-radius: 14px;
  border: 2px solid black;
  color: white;
  width: 60%;
  max-width: 400px;
}

label {
  margin-bottom: 4px;
  font-weight: bold;
  color: white;
}
#inner-bg3 .edit_input::placeholder {
  color: white;
}

.edit_input {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  background-color: #282828;
  color: white;
  border-radius: 8px;
  width: calc(100% - 18px);
}

textarea {
  resize: vertical;
}

.button-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.update-button {
  margin-top: 8px;
  background-color: green;
  color: white;
  padding: 8px 20px 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
}

.update-button:hover {
  font-weight: bold;
  color: black;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 0px;
  font-family: Arial, sans-serif;
}

.dropbtn {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  position: relative;
  width: 110px;
  box-sizing: border-box;
}

.dropdown:hover {
  display: flex;
  flex-direction: column;
}

.dropdown:hover.option {
  background-color: #555;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  .dropbtn {
    font-size: 10px;
    padding: 6px 12px;
    width: auto;
  }
}

.draft {
  padding-right: 40px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#inner-bg2 {
  padding: 25px;
  display: flex;
  background-color: #282828;
  border-radius: 12px;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  color: white;
}

#inner-bg2 textarea {
  margin-bottom: 20px;
  width: 100%;
  background-color: #282828;
  font-size: 16px;
  border: none;
  color: white;
}

#inner-bg2 textarea::placeholder {
  color: grey;
}

.line2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.line3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.post-button {
  margin-top: 10px;
  font-size: 16px;
  background-color: #f62500;
  display: flex;
  transition: background-color 0.3s;
  border: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  font-weight: bold;
  color: #ffffff;
}

label {
  padding-right: 5px;
}

/* Bold */
strong {
  font-weight: bold;
}

/* Italics */
em {
  font-style: italic;
}

/* Strikethrough */
s {
  text-decoration: line-through;
}

/* Code */
code {
  font-family: monospace;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#editor,
.ql-toolbar {
  width: calc(100% - 10px); /* Adjust the width as needed */
  margin-bottom: 10px; /* Optional: Add some space below the editor */
  color: white;
}

.ql-editor,
.ql-blank,
.ql-editor::before {
  min-height: 200px; /* Adjust the height as needed */
  color: white;
  /* padding-bottom: 30px; */
}

/* Adjust the placeholder text color */
.ql-snow::before {
  color: white; /* Adjust the color as desired */
}
