body {
  font-family: "Poppins", sans-serif;
  background-color: #28282b;
}

form {
  width: 300px;
  margin: 0 auto;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #dc0606;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

button:hover {
  opacity: 0.8;
}

.error {
  color: red;
  margin-top: 10px;
}

.form-container {
  border-radius: 5px;
  display: flex;
  background-color: #28282b;
  padding: 20px;
  width: 50%;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
}

label {
    color: white;
}